.columnFlex{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.activeChoresPrimary{
    height: 100vh;
    width: 25vw;
    border-right: solid;

}

.rowFlexUncentered{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.titleFont{
    font-size: 2rem;
    border-bottom: solid;
    font-weight: solid;
}
.itemFont {
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}
.childPrimary {
    width: 37.25vw;
    border-right: solid
}